---
name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

env:
  DEFAULT_PYTHON_VERSION: "3.13"

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python
          config-file: .github/release-please-config.json
          token: ${{ secrets.PAT }}
